h1{
    background-color: darkseagreen;
}

h2{
    background-color: darkorange;
}

h3{
    background-color: gray;
}
#test{
    font-style: italic;
    background-color: darkturquoise;
}

div{
    font-size: x-large;
    color: hotpink;
}

.abc{
    color:lawngreen;
}